body, html {
    height: 100%;
}
body {
    overflow-x: hidden;
    margin: 0;
    height: 100%;
}

.offcanvas {
    list-style: none;
    width: 75%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 0;

    padding: 0;
    margin: 0;

    box-sizing:border-box;
    overflow-y: scroll;
}

.offcanvas.left {
    left: -100%;
}
.offcanvas.left.open {
    left: 0;
}
.offcanvas.right {
    left: 100%;
}
.offcanvas.right.open {
    left: 25%;
}

.offcanvas-site-wrap {
    min-width: 100%;
    min-height: 100%;
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 1;
}

.offcanvas-site-wrap.open.left {
    left: 75%;
}
.offcanvas-site-wrap.open.right {
    left: -75%;
}

.offcanvas-site-wrap, .offcanvas {
    transition: left 0.4s;
}
